{%load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        {% if title %}
        <title>{{title}}</title>
        {% endif %}

        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}  {%endblock%}
        
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" async defer></script>
            {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>